*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:rgb(205, 200, 200)
}
.container{
    position: relative;
    width: 1310px;
    height: 634px;
    background-color: rgb(243, 238, 238);
  
    display: flex;
}
.side{
    position: relative;
    background: rgb(246 240 240);
    flex: 3%;

}
.leftside{
    position: relative;
    flex: 26%;
    background-color:white;
   border-top-left-radius: 5%;
   border: 1px solid rgb(179, 176, 176);
}
.rightside{
    position: relative;
    flex: 72%;
    background-color: white(51, 0, 255); 
}
.rightside::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(backgrnd.jpg);
    opacity: 0.5;

}
.header{
    position: relative;
    width: 100%;
    height: 60px;
    background-color:#f5f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.profilebar{
    position: relative;
    width: 100%;
    height: 53px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.userimag{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pravi{
    font-size: 13px;
    color: black;
}
.name{
    position: absolute;
    margin-left: 44px;

}

.nav-icons{
    display: flex;
}
.nav-icons li{
    display: flex;
    list-style: none;
    cursor: pointer;
    color: black;
    font-size: 1.5em;
    margin-left: 39px;
    
}
.searchchat{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.searchchat div{
    width:100%;
}
.searchchat div input{
    width: 100%;
    outline: none;
    border: none;
    background-color: white;
    padding: 6px;
    height: 38px;
    border-radius: 0%;
    border: 1px solid black;
}
.searchchat div ion-icon{
    position: absolute;
    left: 30px;
    top: 14px;
    font-size: 1.2em;
}
.searchchat div input::placeholder{
    color: grey;
}
.chatlist{
    position: relative;
    height: calc(100%-110px);
    overflow-y: auto;
    background: white
    
}
.chatlist .block{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid whites;
    cursor: pointer;
}
.chatlist .block .imagebox{
    position: relative;
    width: 45px; 
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}
.chatlist .block .details {
    position: relative;
    width: 100%;
}
.chatlist .block .details .listhead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.chatlist .block .details .listhead h4{
    font-size: 1.1em;
    font-weight: 600;
    color: black
}
.chatlist .block .details .listhead .time{
    font-size: 0.75em;
    color: #181111;
    
}
.message-p{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message-p p{
    color: rgb(85, 83, 83);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: .9em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chatbox{
    position: relative;
    width: 100%;
    height: calc(100%-120px);
    padding: 50px;
    overflow-y: auto;
}
.message{
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}
.message p{
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background-color: rgb(152 240 162);
}
.message p::before{
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg,#dcf8c6 0%,#dcf8c6 50%,transition 50%,transition);
}
.message p span{
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
}
.my-message{
    justify-content: flex-end;
}
.frnd-message{
    justify-content: flex-start;
}
.frnd-message p{
    background-color: white;
    text-align: left;
}
.chatbox-input{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgb(209, 206, 206);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chatbox-input ion-icon{
    cursor: pointer;
    font-size: 1.8em;
    color: rgb(19, 18, 18);
}
.chatbox-input input{
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
}
.details:hover{
    background-color: rgb(240, 234, 234);
}
